body{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(folder/prt.jpg);
    
}
.navbar{
overflow: hidden;
background-color: black;
position: fixed;
top: 0;
width: 100%;
}
.navbar a{
float: left;
display: block;
text-align: center;
color: antiquewhite;
padding: 14px 16px;
text-decoration: none;
font: 17px;
}
.navbar a:hover{
background-color: azure;
color: black;
}
.h1{
    margin-left: 80vh;
    align-content: center;
    font-size: 5vh;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
}
.hd {
    margin-top: 9vh;
    margin-left: 10vh;
    color: rgb(255, 253, 247);
    font-family: cursive;
}

.hd1 {
    font-size: 30px;
    color: white;
}

  .container{
    width: 85%;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .img{
    margin-left: 1vh;
    padding: 60px;
  }